DB_STRING=mongodb://127.0.0.1:27017/store # Connection string to MongoDB
PORT=4000 # This port is to run the api server
API_url=http://localhost:4000 # This is the api link for the frontend to make api calls to 
RPC_URL=http://127.0.0.1:18081/json_rpc #Link to the Monero rpc daemon
ADMIN_TELEGRAM_ID=ADMIN_TELEGRAM_ACCOUNT_ID # Obviously its just your telegran account ID not the username!...
secret_key=ANY_KEY_TO_GENERATE_A_JWT_TOKE
BOT_TOKEN=BOT_TELEGRAM_API_TOKEN # That token you got from BotFather on telegram